@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("../../animations/animations.css");
@import url("https://fonts.googleapis.com/css2?family=Amarante&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Source Sans 3", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

html,
body,
:root {
  max-width: 1600px;
  margin: auto;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  font-size: 16px;
}

.tweet-class .react-tweet-theme {
  --tweet-body-font-size: 15px;
  margin: 0;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 1, 1, 1;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: 16px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.top-overlay-linear-gradient {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(0, 0, 0, 1) 38%,
    rgba(0, 0, 0, 1) 65%,
    rgb(255, 255, 255) 100%
  );
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 97%;

    --primary: 28 90% 34%;
    --primary-foreground: 37 94% 54%;

    --secondary: 234 60% 35%;
    --secondary-foreground: ;

    --accent: 209 90% 8%;
    --accent-foreground: 210 73% 15%;

    --muted: 202 39% 25%;
    --muted-foreground: 228 2% 45%;

    --pink: 342 88% 42%;
    --pink-foreground: 342 72% 66%;
  }
}
@layer utilities {
  .clip-featured {
    clip-path: polygon(100% 0%, 95% 53%, 100% 100%, 0 100%, 0 51%, 0 0);
  }
  .linear-gradient-featured {
    /* background: rgb(221, 255, 224); */
    background: linear-gradient(
      160deg,
      rgb(0, 0, 0) 0%,
      rgb(53, 118, 203) 0%,
      rgb(167, 211, 255) 44%,
      rgb(233, 248, 255) 63%,
      rgb(255, 255, 255) 85%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  @media (max-width: 640px) {
    .linear-gradient-featured {
      background: none;
    }
  }
}

.boxshadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
}
/* .users-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
} */

.users-table-cell {
  text-align: left;
  padding: 4px;
}

/* thead tr th {
  padding-left: 40px;
  background-color: aquamarine;
} */

thead {
  padding: 20px 30px;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: hidden;
  /* border-bottom: 1px solid #dadada; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 4px 2px -2px #b4b4b4be;
}
thead tr th {
  padding: 20px;
  /* border: 1px solid #333; */
  line-clamp: 1;
}
tbody td {
  /* border: 1px solid #333; */
  line-clamp: 1;
}
tbody tr {
  border-bottom: 1px solid #dadada;
  overflow: hidden;
}
/* tbody tr:nth-child(even) {
  overflow: hidden;
  background-color: #eaf3ff;
} */
.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dadada;
  width: 100% !important;
  margin-bottom: 10px;
}
