@import url("../../animations/animations.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body,
:root {
  max-width: 1600px;
  margin: auto;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
}

.tweet-class .react-tweet-theme {
  --tweet-body-font-size: 15px;
  margin: 0;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 1, 1, 1;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: 16px;
}
****************************************************
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.top-overlay-linear-gradient {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(0, 0, 0, 1) 38%,
    rgba(0, 0, 0, 1) 65%,
    rgb(255, 255, 255) 100%
  );
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 97%;

    --primary: 28 90% 34%;
    --primary-foreground: 37 94% 54%;

    --secondary: 234 60% 35%;
    --secondary-foreground: ;

    --accent: 209 90% 8%;
    --accent-foreground: 210 73% 15%;

    --muted: 202 39% 25%;
    --muted-foreground: 228 2% 45%;

    --pink: 342 88% 42%;
    --pink-foreground: 342 72% 66%;
  }
}
/* 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #85a8c5;
}

.carousel {
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 490px;
  background-color: #fff;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98;
}
.carousel-img {
  width: 250px;
  padding: 0 20px 0 20px;
}

/* final stage */

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #ffffff;
}
