@import url("../../animations/animations.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body,
:root {
  max-width: 1600px;
  margin: auto;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  font-size: 16px;
}

.tweet-class .react-tweet-theme {
  --tweet-body-font-size: 15px;
  margin: 0;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 1, 1, 1;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: 16px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.top-overlay-linear-gradient {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(0, 0, 0, 1) 38%,
    rgba(0, 0, 0, 1) 65%,
    rgb(255, 255, 255) 100%
  );
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 97%;

    --primary: 28 90% 34%;
    --primary-foreground: 37 94% 54%;

    --secondary: 234 60% 35%;
    --secondary-foreground: ;

    --accent: 209 90% 8%;
    --accent-foreground: 210 73% 15%;

    --muted: 202 39% 25%;
    --muted-foreground: 228 2% 45%;

    --pink: 342 88% 42%;
    --pink-foreground: 342 72% 66%;
  }
}
/* 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
